.main_top{
    // position: absolute;
    // z-index: 5;
    padding-top: 105px;
    padding-bottom: 50px;
}

//title

.main_title{
    color: $whiteColor;
    font-size: 96px;
    font-weight: 700;
}
.main_containerTitleWithBtn--flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 7%;
}

//button

.main_button--style {
    color: $whiteColor;
    font-weight: 700;
    background-color: $blackColor;
    width: 360px;
    height: 80px;
    font-size: 36px;
}